In [1]:
%%javascript
var rate = 0;
// apply setting to  all current CodeMirror instances
IPython.notebook.get_cells().map(
    function(c) {  return c.code_mirror.options.cursorBlinkRate=rate;  }
);

// make sure new CodeMirror instance also use this setting
CodeMirror.defaults.cursorBlinkRate=rate;

In [53]:
import requests
from selenium import webdriver
import numpy as np
import pandas as pd

URL = "https://www.tickpick.com/buy-yeat-tickets-newport-music-hall-4-9-22-7pm/5076846/"

r = requests.get(URL)

In [45]:
driver = webdriver.Chrome(r"C:\Users\Paul\Documents\chromedriver.exe")
driver.get(URL)

xpath = "//*[@id=\"listingContainer\"]/div[*]"
old_xpath = "//*[@id=\"listingContainer\"]/div[1]"

elements = driver.find_elements_by_xpath(xpath)

In [56]:
rows_list = []

for elem in elements:
    dic = {}
    dic["quantity"] = elem.find_element_by_tag_name("select").text.split()[0]
    dic["price"] = elem.find_element_by_tag_name("b").text[1:]
    rows_list.append(dic)
    
df = pd.DataFrame(rows_list)
df.head()

  quantity price
0        5   134
1        2   135
2        5   137
3        6   148
4        1   153